p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

main {
    display: flex;
    width: 100%;
}

.dropdown__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

h2 {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

#bayan {
    max-width: 1200px;
    margin: 0 auto;
}

.accordion {
    height: 50px;
    transition: 1s;
    cursor: pointer;
}

.dropdown {
    height: 0%;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}

.accordion:hover .dropdown {
    height: 100%;
}

.accordion:hover {
    height: 550px;
}

li:focus .dropdown {
    height: 100%;
    outline: none;
}

li:focus {
    outline: none;
    height: 550px;
}

li:focus .dropdown__text>img {
    background-color: rgb(136, 42, 42);
}

li:focus {
    outline: none;
    height: 550px;
}